@model IEnumerable<WebApp.Models.Equipo>

@{
    ViewData["Title"] = "Administracion de Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        Administracion de Equipos
    </div>
    <div class="card-body">
        <a asp-action="CrearEquipo"
           class="btn btn-outline-primary"><i class="fa-solid fa-user-plus me-2"></i>Agregar Nuevo Equipo</a>
    </div>
</div>

<div class="row justify-content-evenly mt-3">



@foreach (var item in Model)
{


    <div class="col-lg-3 text-center">
        <div class="card p-3">
            <img class="img-fluid" src="~/img/@item.ImagenUrl" />
            <div class="card-body">
                <h5 class="card-title">@item.Descripcion</h5>
                <p class="card-text">@item.DescripcionLarga</p>
                <a asp-action="Edit" asp-route-IdLinea="@item.Id"><i class="fa-solid fa-pen-to-square me-2"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info me-2"></i></a>
                <a asp-action="Delete" asp-route-IdLinea="@item.Id"><i class="fa-solid fa-trash me-2"></i></a>
            </div>
        </div>
    </div>


}
</div>
